body {
    background: grey;
}

.pasek {
    width: 250px;
    height: 10px;
    border: 5px solid efff;
    margin: 10px;
    background: lightgrey;
}
.pasek {
    transition: all 0.2s ease-in-out;
}
.pasek:hover {
    background: red;
}
.pasek2 div {
    transition: all 0.2s ease-in-out;
    background: red;
    height: 10px;
    width: 0;
}

.pasek2:hover div {
    width: 100%;
}

.pasek3 {
    position: relative;
}
.pasek3::after {
    content : '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    background: red;
    transition: all 0.2s ease-in-out;
}
.pasek3:hover::after {
    width: 100%;
}

.pasek4 {
    position: relative;
}
.pasek4::after {
    content : '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    background: red;
    
}   
.pasek4:hover::after {
    animation-name: pbar;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}
@keyframes pbar {
    /* from {}
    to {} */
    0% {
        left: 0;
        width: 0;
    }
    25% {
        left: 25%;
        width: 30%;
    }
    50% {
        left: 50%;
        width: 15%;
    }
    75% {
        left: 75%;
        width: 10%;
    }
    100% {
        left: 100%;
        width: 5%;
    }
}