body {
    background: lightgrey;
}
main {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-rows:  150px  700px 150px;
    grid-template-columns: 250px 4fr 250px;
    grid-template-areas: 
        "header header header"
        "aside article right"
        "footer footer footer"
    
}
header {
    background: lightblue;
    grid-area: header;
}
aside {
    background: lightskyblue;
    grid-area: aside;
}
article {
    background: lightslategrey;
    grid-area: article;
}
#right {
    background: lightcyan;
    grid-area: right;
}
footer {
    background: lightgoldenrodyellow;
    grid-area: footer;
}
