body {
    background: lightgrey;
}
main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 150px;
    background: lightblue;
    display: flex;
    justify-content: space-between;
}
/* Każdy ul wewnącz każdego nav
nav ul {}
 */
 nav {
     width: 70%;
 }
nav > ul {
    /* zmiana punków listy */
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

}   
section {
    display: flex;
    /* flex-direction: column; */
}
aside {
    width: 200px;
    height: 700px;
    background: lightskyblue;
}
article {
    width: 800px;
    height: 700px;
    background: rgb(0,0,0,0.7);
}
#right {
    width: 200px;
    height: 700px;
    background: lightyellow;
}
footer {
    height: 150px;
    background: lightseagreen;
}