

/* font family: 'Aleo', serif; */

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #f3f4f5;
}
 a {
    color: #3c4a52;
    text-decoration: none;
    font-weight: 600;
}
 a:hover {
    color: #ffc000;
}
#background {
     background: url(assets/masterhead@2x.jpg);
     background-position: center center;
     background-size: contain; 
     position: absolute;
     z-index: -1;
     width: 100%;
     height: 950px;
}
main {
    width: 1140px;
    margin: 0 auto;
}
header {
    padding: 60px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cad2d7;
}
nav a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d3438;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    padding: 6px 24px;
    margin: 0 6px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
nav a:hover {
    background: #646d72;
    color: #fff;
}
.active {
    background: #ffc000;
    color: #fff;
}
#welcome {
    color: #fff;
    padding-bottom: 250px; 
}


#welcome p {
    font-size: 18px;
    margin: 0;
}
#welcome .head {
    font-weight: 900;
    font-size: 96px;
    margin-top: 226px;
}
#welcome .subhead {
    font-family: 'Aleo', serif;
    font-size:  28px;
    color: #e2e2e2;
    margin: 25px 0 14px;
}
#welcome .subhead2 {
    font-size:  24px;
    font-weight: 600;
    margin: 25px 0 52px;
}
#welcome p.text {
    max-width: 741px;
}
#start {
    display: flex;
    justify-content: space-between;
    padding-bottom:  50px;
}
#start  .col {
    width: 30%;
}
#start h2 {
    font-size: 26px;
    color: #2d3438;
    font-weight: 600;
    display: flex;
    align-items: baseline; 
    margin-bottom: 18px;
}
#start h2:after {
    content: '.';
    font-size: 56px;
    color: #ffc000;
    width: 8px;
    height: 8px;
    display: block;
    margin-right: 8px;
}
footer {
    padding: 50px 0;
    border-top: 1px solid #cad2d7; 
    color: #9fa6aa;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
footer img {
    margin-right: 10px;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
}
footer img:hover {
    opacity: 0.7;
}
.vcenter {
    display: flex;
    align-items: center; 
}

.abouting {
    width: 100;
    box-sizing: border-box;
    margin-top: 60px;
    border: 6px solid #fff
}
