main {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows:  60px  140px 500px 200px 200px 80px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
        "ganav ganav ganav ganav"
        "gaheader gaheader gaheader gaheader"
        "gaofertal gaofertal gaofertal gaofertal"
        "gazdjecie gazdjecie gazdjecie gazdjecie"
        "gauslugil gauslugil gauslugil gauslugil"
        "gastopka gastopka gastopka gastopka"
    
}


nav {
    background: lightblue;
    grid-area: ganav;
}
header {
    background: lightcoral;
    grid-area: gaheader;
}
#ofertal {
    background: lightgrey;
    grid-area: gaofertal;
}
#oferta2 {
    background: lightpink;
    grid-area: gaofertal2;
}
#oferta3 {
    background: lightcoral;
    grid-area: gaofertal3;
}
#zdjecie {
    background: lightseagreen;
    grid-area: gazdjecie;
}
#uslugi1 {
    background: lightyellow;
    grid-area: gauslugi1;
}
#uslugi2 {
    background: lightsteelblue;
    grid-area: gauslugi2;
}
footer {
    background: moccasin;
    grid-area: gastopia;
}
@media (max-width: 800px) {
    main {
        width: 100px;
        grid-template-rows:  60px  140px 300px 300px 200px 120px 80px;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
        "ganav ganav"
        "gaheader gaheader"
        "gaofertal1 gaofertal2"
        " gazdjecie3 gazdjecie3"
        " gazdjecie gazdjecie"
        " gauslugil1 gauslugil1"
        " gauslugil2 gauslugil2"
        " gastopka gastopka"
    }
}




















